{% extends 'base.html.twig' %}

{% block titre %}{{ parent() }}-Template Inscription Connexion{% endblock%}
{% block body %}
    <h1>Test de la route sign/in du Controller SignInController</h1>
{% endblock %}
