{% extends 'auth/base-auth.html.twig' %}

{% block body %}
    <div class="block-center">
    <div class="login-formbox" id="content">
    <h1>Confirmez votre connexion</h1>
    <form action="{{ path('2fa_login_check') }}" method="POST">
        <p>Scannez le QR Code avec l'application Google Auth et entrez le code :</p>
        <img src="{{ path('2fa_qrcode' ) }}" alt="" class="qrcode" />
        <div>
            <label for="_auth_code">Code Google Auth :</label>
            <input type="text" name="_auth_code" id="_auth_code" />
        </div>
        <button class="button button-submit">Se connecter</button>
    </form>
    </div>
    </div>
{% endblock %}